.about {
  background-image: url("/images/about.jpg");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  height: 40rem;
  justify-content: center;
  position: relative;
  top: 8rem;

  @media (max-width: 1000px) {
    height: $s-size-height;
    background-size: 100% 100%;
  }
}

.about__points {
  font-size: 2.2rem;
  margin: 0 auto;
  padding: 2rem $m-size;
  margin-top: 8rem;
  max-width: 120rem;
  text-align: center;
  width: 100vw;

  @media (max-width: $desktop-breakpoint) {
    font-size: 1.6rem;
  }
}

.about__points-each {
  padding: 2rem 0;
}