.career-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 60rem;
}

.career__points {
  align-items: center;
  justify-content: center;
  padding: 15rem 0 5rem;
  text-align: center;

  @media (max-width: $desktop-breakpoint) {
    padding-top: 10rem;
  }
}

.career__button {
  background: $gray;
  border-radius: 0.5rem;
  display: flex;
  font-size: 2.5rem;
  width: 100%;

  @media (max-width: $desktop-breakpoint) {
    font-size: 2rem;
  }
}

.career__button-contact {
  background: $gray;
  border-radius: 0.5rem;
  display: flex;
  font-size: 2.5rem;
  margin: 1.5rem 0;
  width: 100%;

  @media (max-width: $desktop-breakpoint) {
    font-size: 2rem;
  }
}

.career__explain {
  font-size: 1.6rem;
  text-align: left;

  @media (max-width: $desktop-breakpoint) {
    font-size: 1.2rem;
  }
}

.career__separator {
  border-bottom: 1px solid black;
  margin: 0 33%;
  padding-top: 1rem;
}

.career__button-90 {
  width: 90%;
}

.career__button-10 {
  width: 10%;
}

.career__flipped {
  -moz-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);

  transition: transform 0.5s linear;
}

.career__noflip {
  transition: transform 0.5s linear;
}