.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 80rem;
}

.content-container__header {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 150rem;
}

.container-margin {
  padding-top: 20%;
}