.header {
  background: white;
  height: 8rem;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.header__content {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 8rem;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: $gray;
  display: flex;
  flex-direction: row;
  font-size: 1.4rem;
  text-decoration: none;
  
  h1 {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin: 0;
    transition: all 1.0s ease;

    @media (max-width: 830px) {
      flex-direction: column;
    }
  }

  :hover {
    color: $light-blue;
    transition: all 1.0s ease;
  }

  @media (max-width: 66.5rem) {
    font-size: 0.8rem;
  }
}

a:hover {
  color: $light-blue;
}

.header_shrink {
  height: 6.2rem;
}

.header__link {
  background: none;
  color: $gray;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 46px;
  padding: $s-size;
  transition: all 1.0s ease;

  :hover {
    color: $magenta;
    transition: all 1.0s ease;
  }

  @media (max-width: 66.5rem) {
    font-size: 1.8rem;
  }
}

.header__buttons {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.header-shrink {
  display: flex;
  flex-direction: column;
  width: 17rem;
}

.header__dropdown {
  background-color: $gray;
  color: white;
  height: 4rem;
  font-size: 1.4rem;
}

.header__image {
  max-height: 70px;
  user-select: none;
}

.header-shrunk {
  display: flex;
  flex-direction: row;
}

.header__company {
  padding-top: 2.2rem;

  @media (max-width: 1064px) {
    padding-top: 3.2rem;
  }
}