// Colors

$dark-blue: #364051;
$dark-gray: #333;
$medium-gray: #6c757d;
$gray: #666;
$light-gray: #999;
$light-blue: #1c8af5;
$off-white: #f7f7f7;
$medium-blue: #206ead;
$magenta: #b3249f;


//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing

$xl-size: 4.8rem;
$l-size: 3.2rem;
$m-size: 1.6rem;
$s-size: 1.2rem;
$desktop-breakpoint: 45rem;

//Height

$s-size-height: 20rem;
$m-size-height: 35rem;